<configuration>

    <!-- Create Appender to Write Messages to Console-->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Pattern  = DATE LOGGING-LEVEL LOGGER-NANE MESSAGE NEW-LINE -->
            <pattern>%d %level %logger %msg %n</pattern>
        </encoder>
    </appender>


    <!-- Bind Appender To Root "Logger" Instance-->
    <root level="warning">
        <appender-ref ref="Console" />
    </root>


</configuration>